<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turtle Shelter Project</title>
    <link rel="stylesheet" href="/styles/landing.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <nav class="navbar">
      <a href="/" class="logo"><img src="/images/logo.png" alt="Logo"></a>
      <a href="/" class="big-name">Turtle Shelter Project</a>
        <ul class="nav-links">
          <li><a href="/">Home</a></li>
          <li><a href="/story">Jen's Story</a></li>
          <li class="dropdown">
            <a href="/about" class="dropdown-toggle">About Us</a>
            <ul class="dropdown-menu">
              <!-- Add links to the dropdown menu -->
              <li><a href="/about/about">Our Team</a></li>
              <li><a href="/about/about">Our Mission</a></li>
              <li><a href="/about/about">Contact Us</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="/youhelp" class="dropdown-toggle">Get Involved</a>
            <ul class="dropdown-menu youhelp-dropdown">
              <!-- Add links to the dropdown menu -->
              <li><a href="/youhelp/donate">Donate</a></li>
              <li><a href="/youhelp/eventrequest">Request an Event</a></li>
              <li><a href="/youhelp/youhelp">Other Ways to Help</a></li>
            </ul>
          </li>
        </ul>
    </nav>
  </header>
<table>
  <tr>
    <th>Event ID</th>
    <th>Activity</th>
    <th>Event Street Address</th>
    <th>Event City</th>
    <th>Event State</th>
    <th>Event Zip</th>
    <th>Num Expected Participants</th>
    <th>Expected Duration</th>
    <th>Option Num</th>
    <th>Date</th>
    <th>Start Time</th>
    <th>Jen Story</th>
    <th>Num Actual Participants</th>
    <th>Actual Duration</th>
    <th>Num Pockets</th>
    <th>Num Collars</th>
    <th>Num Envelopes</th>
    <th>Num Vests</th>
    <th>Total Products</th>
    <th>Status</th>
    <th>Num Team Members</th>
    <th>Date Created</th>
    <th>Coordinator ID</th>
  </tr>
  <% events.forEach(function(event) { %>
  <tr>
    <td><%= event.event_id %></td>
    <td><%= event.activity %></td>
    <td><%= event.event_street_address %></td>
    <td><%= event.event_city %></td>
    <td><%= event.event_state %></td>
    <td><%= event.event_zip %></td>
    <td><%= event.num_expected_participants %></td>
    <td><%= event.expected_duration %></td>
    <td><%= event.option_num %></td>
    <td><%= event.date %></td>
    <td><%= event.start_time %></td>
    <td><%= event.jen_story %></td>
    <td><%= event.num_actual_participants %></td>
    <td><%= event.actual_duration %></td>
    <td><%= event.num_pockets %></td>
    <td><%= event.num_collars %></td>
    <td><%= event.num_envelopes %></td>
    <td><%= event.num_vests %></td>
    <td><%= event.total_products %></td>
    <td><%= event.status %></td>
    <td><%= event.num_team_members %></td>
    <td><%= event.date_created %></td>
    <td><%= event.coordinator_ID %></td>
  </tr>
  <% }); %>
</table>
</body>
</table>